    
@import url("https://kit.fontawesome.com/05bebedb49.js");



body{
    justify-content: center;
     align-items:center;
     display:flex;
    background-color: rgb(247, 231, 231);



}
form{
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
}
form h1{
    color: rgb(214, 75, 75);
    text-align: center;

}
form .social-media{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form .social-media p{
   padding: 5px;
   margin-left: 20px;
   border: 1px solid;
   border-radius: 100%;
   width: 20px;
    text-align: center;
    cursor:pointer;
}
form p.choose-email{
    text-align:center;

}
form .inputs {
    display: flex;
    flex-direction: column;
}
form.inputs input[type="email"], input[type="password"]{
    padding:15px;
    border-radius:5px;
    border:none;
    background-color: rgb(190, 183, 183);
    margin-bottom: 15px;
    outline:none;
}